<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="color: white;">Lateral Entry Registration</ion-title>
    <ion-button color="medium" slot="end" style="padding-right:1%"  routerLink="/login">
      <ion-icon name="log-out-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-item lines="none">
          <ion-label position="stacked">NIC No</ion-label>
          
   </ion-item>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col class="button-col" >
        <ion-button color="medium" class="selection-button" routerLink="./lateral-entry" >Start Lateral Entry Application </ion-button>
      </ion-col>
    </ion-row>
    <ion-row> 
    <ion-col class="button-col">
      <ion-button color="medium" class="selection-button" routerLink="lateral-entry">Continue Lateral Entry Application </ion-button>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="button-col">
        <ion-button color="medium" class="selection-button"  >proceed To Enter Payment Information </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
