<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="color: white;">Lateral Entry Registration</ion-title>
    <ion-button color="medium" slot="end" style="padding-right:1%" routerLink="/login">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="header-data-row">
      <ion-col>
        <ion-card class="header-data-card">
          <ion-label>NIC No : <span class="header-value">{{this.id_no}}</span>
          </ion-label>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="header-data-card">
          <ion-label>Previous BIT Registration No : <span class="header-value">{{this.prev_bit_regno}}</span>
          </ion-label>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="header-data-card">
          <ion-label>Eligible Year : <span class="header-value"> {{this.eligible_year}}</span>
          </ion-label>

        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="show_start_application">
      <ion-col class="button-col">
        <ion-button color="medium" class="selection-button"  (click)="createApplicationNumber(this.eligible_year)">Start Lateral Entry Application
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="show_continue_application">
      <ion-col class="button-col">
        <ion-button color="medium" class="selection-button" (click)="continueApplication()">Continue Lateral Entry Application </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="show_payment_application">
      <ion-col class="button-col">
        <ion-button color="medium" class="selection-button">proceed To Enter Payment Information </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>