<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="color: white;">Lateral Entry Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="button-col" >
        <ion-button color="medium" class="selection-button" routerLink="./lateral-entry" >Start Lateral Entry Application </ion-button>
      </ion-col>
    </ion-row>
    <ion-row> 
    <ion-col class="button-col">
      <ion-button color="medium" class="selection-button" routerLink="lateral-entry">Continue Lateral Entry Application </ion-button>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="button-col">
        <ion-button color="medium" class="selection-button">proceed To Enter Payment Information </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
