.button-col.md.hydrated {

     margin : 8%;
     
}

.selection-button.md.button.button-solid.ion-activatable.ion-focusable.hydrated {


     
    height: 250%;
    width: 100%;
   // font-size: 1.5vw;
    font-weight: bold;
    background-color: rgb(28, 28, 28);

}

.header-data-card.md.hydrated {

    font-weight: bold;
    height: 90%;
    text-align: center;
    padding: 2%;
    color: #3880ff;
    background-color: rgb(245, 245, 245);
}

.header-value{
    font-size: 15px;
    font-weight: bold;
    color: rgb(63, 54, 54);

}

.header-header{
    //font-size: 15px;
    font-weight: bold;
     

}