<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">

            <ion-back-button defaultHref="/reg-selection"></ion-back-button>

        </ion-buttons>
        <ion-title><ion-row>
            <ion-col>UCSC BIT - Lateral Registration - 2022</ion-col>
            <ion-col>Application No : {{this.application_no}}</ion-col>
            <ion-col>Eligible Year : {{this.eligible_year}}</ion-col>
        </ion-row>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="FormPayment" #FormPaymentmRef="ngForm" novalidate>
        <!-- select payment method-->

        <ion-grid class="payment-grid" style=" padding: 2%;  margin: 2%;   border: 1px solid #c9c7c7;">

            <ion-row>
                <ion-col>
                    <ion-item class="item-select" lines="none">
                        <ion-label position="stacked">Payment Method (Please Select One Option)</ion-label>
                        <select class="text-small" formControlName="type" interface="popover"
                            (change)="changeEducationVisibility($event)">
                            <option value="0" selected disabled> Select Payment Method </option>
                            <option value="1">Bank Payment</option>
                            <option value="2">Online Payment</option>
                        </select>
                    </ion-item>
                </ion-col>


            </ion-row>

            <ion-row *ngIf="this.payment_method == '1'" style=" padding-top: 3%; ">

                <ion-button> Download Payment Voucher</ion-button>

            </ion-row>
            <ion-row *ngIf="this.payment_method == '2'" style="padding-top: 3%; ">
                <ion-button> Go To Online Payments Portal </ion-button>
            </ion-row>

        </ion-grid>
        <ion-grid class="payment-grid" style=" padding: 2%;  margin: 2%;   border: 1px solid #c9c7c7;"
            *ngIf="this.payment_method != '0'">


            <!-- payment method - by bank-->

            <ion-row>
                <ion-label class="summary-grid-header">Enter Payment Information</ion-label>
            </ion-row>

            <ion-row>

                <ion-col>

                    <ion-item class="item-select" lines="none">
                        <ion-label position="stacked">Paid Date</ion-label>
                        <input type="date" formControlName="paid_date">
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item class="item-select" lines="none">
                        <ion-label position="stacked">Paid Amount (Rs.)</ion-label>
                        <ion-input formControlName="amount" type="text"></ion-input>

                    </ion-item>
                </ion-col>

            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="item-select" lines="none">
                        <ion-label position="stacked">Over Payment (Rs.)</ion-label>
                        <ion-input formControlName="over_payment" type="text"></ion-input>

                    </ion-item>


                </ion-col>
                <ion-col>

                    <ion-item class="item-select" lines="none">
                        <ion-label position="stacked">Surcharge (Rs.)</ion-label>
                        <ion-input formControlName="surcharge" type="text"></ion-input>

                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="this.payment_method == '1'">
                <ion-col>
                    <ion-item class="item-select" lines="none">


                        <ion-label position="stacked">Bank</ion-label>
                        <ion-input formControlName="bank" type="text"> </ion-input>

                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item class="item-select" lines="none">
                        <ion-label position="stacked">Bank Branch</ion-label>
                        <ion-input formControlName="bank_branch" type="text"> </ion-input>

                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="payment_method == '2'">
                <ion-col>
                    <ion-item class="item-select" lines="none">

                        <ion-label position="stacked">Reference No</ion-label>
                        <ion-input formControlName="invoice_no" type="text"> </ion-input>

                    </ion-item>
                </ion-col>
                <ion-col>

                </ion-col>
            </ion-row>
            <ion-row *ngIf="payment_method == '1'">
                <ion-col>
<!-- 
                    <input type="file" (change)="onFileChanged($event)">
                
                    <input type="button" (click)="onUpload()" value="upload"> -->
        
                </ion-col>
    
                <!-- <ion-col>
    
                    <input type="file" (change)="onFileChanged($event)">
                
                    <input type="button" (click)="onUpload()" value="upload">
        
                </ion-col> -->
            </ion-row>
 
           

            <ion-row class="ion-align-items-center">
                <ion-col size="12" class="ion-text-center">
                    <ion-button color="danger" (click)="savePaymentInfo()">Submit Payment Info</ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>

    <ion-row>

        
    
    <!-- <ion-col>
        <div class="container row">
            <div class="col-md-12">
                <div *ngIf=message>{{message}}</div>
            </div>
        </div>
        <div class="container row">
            <div class="col-md-6">
                <input type="text" class="form-control" id="name" placeholder="image name"
                    [(ngModel)]="this.imageName" name="name" />
            </div>
            <div class="col-md-6">
                <input type="button" (click)="getImage()" value="Get Image">
            </div>
        </div>
        <div class="container row">
            <div class="col-md-12">
                <div *ngIf=retrievedImage>
                    <img [src]="retrievedImage">
                </div>
            </div>
        </div>
    </ion-col> -->

</ion-row>
</ion-content>



<!-- <ion-col>
    <div class="flex align-items-center full-width ion-margin-top">
        <div class="ion-margin-end">
            <h5 class="text-medium bold">Upload image</h5>
            <ion-button strong shape="round" color="primary" size="small"
                (click)="presentActionSheet1()">
                Select
            </ion-button>
        </div>
        <div>
            <img class="img-thumb" [src]="imagePath1" *ngIf="imagePath1">
        </div>
    </div>
</ion-col>
<ion-col>
    <div class="flex align-items-center full-width ion-margin-top">
        <div class="ion-margin-end">
            <h5 class="text-medium bold">Upload image</h5>
            <ion-button strong shape="round" color="primary" size="small"
                (click)="presentActionSheet2()">
                Select
            </ion-button>
        </div>
        <div>
            <img class="img-thumb" [src]="imagePath2" *ngIf="imagePath2">
        </div>
    </div>
</ion-col> -->